
<nav class="navbar navbar-expand-lg "style="background: linear-gradient(90deg, rgba(164,45,150,1) 0%, rgba(121,9,103,1) 35%, rgba(255,0,99,1) 100%);">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">ANISH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">HOME</a>
          <a class="nav-link" href="/blog">BLOG</a>
         
        </div>
        
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/login"><button type="button" class="btn btn-primary" >LOGIN</button></a>
        <a href="/register"><button type="button" class="btn btn-primary" >REGISTER</button></a>
      </div>
  </nav>
  {%block body %} {% endblock %}
      